.link-activo{
  background-color: orange !important;
}

.navbar{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.navbar a{
  color: black;
  background-color: rgb(210, 203, 203);
  border-radius: 1rem;
  padding: 1rem;
}
